@charset "UTF-8";

/* 전체 박스 */
#container {
	max-width: 1200px;
	min-width: 1130px;
	margin: 0 10%;
}
/* 타이틀 부분 */
#y-con-head {
	margin-top: 150px
}

/* 내용 부분 */
#y-con-content {
	width: 100%;
}

.con-box {
	width: 100%;
}

/* 장바구니 정보 */
#shoppinglist {
	width: 49%;
}

.y-content-box {
	max-width: 700px;
	min-width: 550px;
	padding: 10px;
	margin-top: 20px;
	/* border: 1px solid black; */
	box-sizing: border-box;
}

.y-list-content {
	width: 60%;
	height: 120px;
	font-size: 15px;
	margin: 0 20px 0 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* 여러줄 말줄임표쓰기 */
	display: -webkit-box;
	/* 줄수 표시 */
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.y-img {
	width: 120px;
	height: 120px;
}
/* 쿠폰박스 */
#coupon-box {
	width: 550px;
	height: 450px;
	margin: 7px;
	border: 3px solid #ffff00;
}

#coupon-box>hr {
	width: 95%;
}

#coupon-list {
	height: 280px;
	margin: 20px 0 5px 0;
	overflow: auto;
}

#couponNo {
	width: 80%;
	height: 20px;
	margin-left: 20px;
	margin-left: 20px
}

.coupon>div {
	display:inline-block;
	margin: 0 35px 0 0;
}
.coupon>div:nth-child(1) {
	width: 20px;
}
.coupon>div:nth-child(2) {
	width: 122px;
}
.coupon>div:nth-child(3) {
	width: 65px;
}

.coupon {
	margin: 5px 0;
	text-align: center;
}

.coupon-name {
	display: inline-block;
	width: 150px;
}

#couponbtn {
	width: 65px;
	height: 20px;
}

.discount {
	display: inline-block;
	width: 75px;
}
/* 총 가격 박스 */
#y-price-box {
	width: 550px;
	height: 450px;
	margin: 7px;
	padding: 20px;
	border: 3px solid orange;
	box-sizing: border-box;
}

.p-blank {
	float: left;
	width: 40%;
	height: 100%;
	/* text-align: right; */
	font-size: 30px;
	padding: 20px 0 0 0px;
	box-sizing: border-box;
	font-weight: bold;
	position: relative;
	left: 40px;
}

.price-box {
	float: left;
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	padding: 0px 20px 0 75px;
	font-size: 20px;
}

#p-box1 {
	height: 60%;
}

.p-div1 {
	color: gray;
	margin: 30px 0;
}

.p-div1>span:nth-child(1) {
	margin: 0 0 0 5px;
}

.p-div1>span:nth-child(2) {
	margin: 0 5px 0 0;
	float: right;
}

.font-30 {
	font-size: 30px;
}

#p-box2 {
	height: 40%;
}

.pading-t20 {
	padding-top: 20px;
}

.p-btn {
	height: 80px;
	line-height: 80px;
}

#paymentBtn {
	width: 130px;
	height: 45px;
	font-size: 25px;
}
/* 배송지 정보 */
#delivery-info {
	width: 49%;
}

#info {
	margin-top: 30px;
	padding: 0 10px;
}

#info>* {
	margin: 8px;
}

.info-text {
	width: 90%;
	resize: none;
}

.info-text:focus {
	border: 2px solid gainsboro;
}

.info-text:hover {
	border: 2px solid gainsboro;
}
/* 주소지 설정 */
#info input[type=text] {
	font-size: 15px;
	padding: 3px;
}
#address1 {
	width: 550px;
}
.address-box input[type=text] {
	margin: 15px 0;
}
.padding10{
	padding: 10px;
}
/* 주문자 정보 */
#orderbox {
	width: 49%;
}

.bottom-10 {
	position: relative;
	bottom: 14px;
}

.margin-tb-30 {
	margin: 37px 0 37px 0;
}

#order {
	padding: 0 10px;
}

.margin-tb-30>span {
	margin-left: 25%;
	font-weight: bold;
}
/* 결제방식 정보 */
#paymentbox {
	width: 49%;
	height: 300px;
	/* border: 1px solid black; */
}
/* 공용 */
.h2-title {
	padding-left: 10px;
	margin-bottom: 20px;
}

.hr1 {
	width: 90%;
	position: relative;
	right: 4%;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.text-align-c {
	text-align: center;
}

.y-amount {
	display: inline-block;
	font-size: 20px;
	line-height: 147px;
	padding-left: 10px;
}

.y-s-amount {
	
}

.y-price {
	line-height: 32px;
	font-size: 20px;
}

.floatbox:after {
	content: "";
	clear: both;
	display: block;
}

#container:after {
	content: "";
	clear: both;
	display: block;
}

/* 마우스포인터 */
.mousepoint {
	cursor: pointer;
}