#y-container {
    width: 1080px;
    margin: 70px auto;
}

#y-parcel-board {
    margin: 0 0px 50px 0px;
    text-align: center;
    font-size: 40px;
}

#y-container:after {
    content: "";
    clear: both;
    display: block;
}

#y-content{
    position: relative;
}

#sermernote{
    width: 1080px;
    height: 930px;
}

#y-p-title {
 padding: 0 10px;
}  
#y-p-title > * {
    width: 100%;
}  

.midle-btn {
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 20px;
    top: -55px;
    left: 50%;
}

/* 섬머노트 */
#y-content {
	overflow: hidden;
}

.midle-btn {
	text-align: center;
}

.midle-btn>button {
	width: 100px;
	height: 50px;
	font-size: 20px;
	right: 25px;
}

#yy-img {
	margin-bottom: 20px;
}

.yy-img {
	width: 140px;
	height: 180px;
	border: 1px solid black;
	pointer-events: none;
}
#y-regist, #return-list{
	   background-color: white;
	border-radius: 10px;
	border: 1px solid black;
}
#y-regist:hover, #return-list:hover{
	background-color:rgba(204, 204, 204, 0.3);
}
