@charset "UTF-8";

 aside {width: 150px; position: absolute; top: 73%; left: 30px; background-color: #fff;}
 aside > div {width: 150px; height: 28px; text-align: center;  background-color: #333; color: #fff;}
 aside > div strong {vertical-align: middle}
 aside > ul li {text-align: center; height: 30px; border-bottom: 2px solid #eee;}
 aside > ul li a { line-height: 1.8rem;}