@charset "UTF-8";

.top_input {
	width: 70%;
	height: 32px;
	margin: 15px auto;
}

.top_input strong {
	font-size: 1.2rem;
	line-height: 2.1rem;
}

.top_input div {
	width: 40%;
	display: inline-block;
	clear: both;
}

.top_input div:nth-child(2) {
	text-align: right;
	float: right;
}

.top_input div:nth-child(2) select {
	height: 29px;
	vertical-align: middle;
	border: 1px solid #333;
}

.top_input div:nth-child(2) input {
	vertical-align: middle;
	border: 1px solid #333;
	height: 27px;
}

.top_input div:nth-child(2) button {
	width: 50px;
	height: 29px;
	margin: 10 0;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(30deg, #333, #333);
}

.notice_tb {
	width: 70%;
	margin: 0px auto;
	border-top: 2px solid #333;
	text-align: center;
}

.notice_tb tr th {
	background-color: #e5e5e5;
	border-right: 1px solid #fff;
	height: 50px;
	text-align: center;
}

.notice_tb tr td {
	height: 50px;
	border-bottom: 2px solid #999;
}

.notice_tb tr td button {
	width: 50px;
	height: 30px;
}

.notice_tb tr td button:nth-child(1) {
	margin: 10 0;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(30deg, #002a50, #006ecf);
}

.notice_tb tr td button:nth-child(2) {
	margin: 10 0;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(30deg, #333, #333);
}

#page {
	width: 60%;
	margin: 30px auto;
	text-align: center;
}

aside>div {
	width: 150px;
	height: 28px;
	text-align: center;
	background-color: #333;
	color: #fff;
}

aside>div strong {
	vertical-align: middle
}

aside>ul li {
	text-align: center;
	height: 30px;
	border-bottom: 2px solid #eee;
}

aside>ul li a {
	line-height: 1.8rem;
}

.foot_btn {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
}

.foot_btn button {
	width: 80px;
	height: 30px;
	margin: 10 0;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(30deg, #002a50, #006ecf);
	float: right;
}